macos/karabiner/automatic_backups/
.config/karabiner/automatic_backups/
.config/nvim/lua/overlord/obsidian.lua
.config/nvim/lazy-lock.json
.config/ranger/
.config/tmux/plugins/
.config/emacs/#emacs.org#
.config/emacs/auto-save-list
.config/emacs/elpa
.config/emacs/emacs.org~
.config/emacs/history
.config/emacs/org-roam.db
.config/emacs/places
.config/emacs/recentf
.config/emacs/straight
.config/emacs/.cache
.config/emacs/.org-id-locations
.config/fastfetch/
.config/neofetch/
.config/wireshark/
